{
  "experimental" : false,
  "debug" : true,
  "insecure-registries" : [
    "{{ hostvars['valkyrie'].ansible_host }}:8081",
    "{{ hostvars['valkyrie'].ansible_host }}:8083",
    "{{ hostvars['valkyrie'].ansible_host }}:8082",
    "{{ hostvars['valkyrie'].ansible_host }}",
    "{{ hostvars['valkyrie'].host_name }}",
    "{{ hostvars['valkyrie'].host_name }}:8083"
  ],
  "dns" : {%if nameservers is string%}{{nameservers}}{%else%}["{{nameservers|list|join('\",\"')}}"]{%endif%},
  "storage-driver": "overlay2",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  }

}