- name: upload key file to Valerian
  hosts: valerian
  become: yes
  become_user: root   # like sudo suhost-
  
  vars_files:
    - "{{ customer_data_dir }}/valerian-server-common-vars.yaml"
    - "{{ customer_data_dir }}/domain-common-vars.yaml"
    
  tasks:
    - name: Ensure keys directory exists
      ansible.builtin.file:
        path: /home/azureuser/keys
        state: directory
        owner: azureuser
        group: azureuser
        mode: '0750'
    - name: Copy file to Valerian
      ansible.builtin.copy:
        src: "{{ local_file_path }}"
        dest: "{{ remote_file_path }}"
        owner: azureuser
        group: azureuser
        mode: '0600'