- name: add SQL smartm user
  hosts: sql
  gather_facts: no
  collections:
   - ansible.windows

  vars_files:
   - "{{ipack}}mssql/playbooks/vars/sql-server-common-vars.yaml"
   - "{{customer_data_dir}}common/domain-common-vars.yaml"
   - "{{customer_data_dir}}mssql/sql-install-vars.yaml"

  vars:
     hostname: "{{host_name}}"
  tasks:
    - name: Create SQL login if not exists and add to sysadmin
      ansible.windows.win_shell: |
        sqlcmd -S {{hostname}} -U sa -P "{{sql_sa_password}}" -Q "
        IF NOT EXISTS (SELECT * FROM sys.sql_logins WHERE name = '{{ sql_smartm_user }}')
            CREATE LOGIN [{{ sql_smartm_user }}] WITH PASSWORD = '{{ sql_smartm_user_password  }}';
        ALTER SERVER ROLE [sysadmin] ADD MEMBER [{{ sql_smartm_user }}];"

    - name: Make {{ sql_smartm_user }} owner of each DB
      ansible.windows.win_shell: |
        sqlcmd -S {{hostname}} -U sa -P "{{sql_sa_password}}" -d master -Q "
        IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = '{{ sql_smartm_user }}')
            CREATE USER [{{ sql_smartm_user }}] FOR LOGIN [{{sql_smartm_user }}];
        ALTER AUTHORIZATION ON DATABASE::[{{ item }}] TO [{{ sql_smartm_user }}];"
      loop: "{{ sql_tables_smartm_owner }}"