- name: main playbook
  hosts: sql
  gather_facts: no
  collections:
   - ansible.windows
  tasks:
    - name: Check SQL Server Agent service status
      ansible.windows.win_shell: |
        Get-Service -Name "SQLSERVERAGENT"
      register: agent_status

    - name: Start SQL Server Agent if stopped
      ansible.windows.win_shell: |
        Start-Service -Name "SQLSERVERAGENT"
      when: "'Stopped' in agent_status.stdout"