- name: Install SQL server
  hosts: sql
  gather_facts: no
  collections:
   - ansible.windows

  vars_files:
     - "{{customer_data_dir}}/sql-install-vars.yaml"
  tasks:
    - name: Mount SQL Server ISO
      ansible.windows.win_shell: |
        $image = Mount-DiskImage -ImagePath "{{ sql_iso_path }}/{{sql_iso_name}}" -PassThru
        $drive = ($image | Get-Volume).DriveLetter
        Write-Output $drive 
      register: mount_result

    - name: Get drive letter of mounted ISO
      set_fact:
        iso_drive: "{{ mount_result.stdout_lines[-1] | upper}}"

    - name: Show extracted drive letter
      debug:
        var: iso_drive

    - name: Check current user context
      ansible.windows.win_command: whoami
      register: whoami_output

    - debug:
        var: whoami_output.stdout

    - name: Check if SQL Server service exists
      ansible.windows.win_shell: |
           $instances = Get-ItemProperty 'HKLM:\SOFTWARE\Microsoft\Microsoft SQL Server\Instance Names\SQL' -ErrorAction SilentlyContinue
           if (-not $instances) {
             $instances = Get-ItemProperty 'HKLM:\SOFTWARE\WOW6432Node\Microsoft\Microsoft SQL Server\Instance Names\SQL' -ErrorAction SilentlyContinue
           }
           if ($null -ne $instances) {
              Write-Output "SQL_INSTALLED"
           } else {
               Write-Output "SQL_NOT_INSTALLED"
           }
      register: sql_check
    
    - name: Debug result
      debug:
        var: sql_check.stdout

    - name: Run full SQL Server setup (DB Engine, Replication, SSIS, SSAS)
      ansible.windows.win_command: >
        {{ iso_drive }}:\setup.exe 
        /Q 
        /ACTION=Install 
        /FEATURES=SQLENGINE,IS,AS 
        /INSTANCENAME=MSSQLSERVER 
        /SQLSVCACCOUNT="NT AUTHORITY\SYSTEM" 
        /SQLSYSADMINACCOUNTS="MERSANDBOX\DevServiceUser" 
        /ASSVCACCOUNT="NT AUTHORITY\SYSTEM" 
        /ISSVCACCOUNT="NT AUTHORITY\SYSTEM" 
        /AGTSVCACCOUNT="NT AUTHORITY\SYSTEM"
        /ASSYSADMINACCOUNTS="MERSANDBOX\DevServiceUser" 
        /SECURITYMODE=SQL 
        /SAPWD="ysTe2eapqW6PVS0fuqZ0" 
        /ASCOLLATION="Latin1_General_CI_AS" 
        /ASPROVIDERMSOLAP="1" 
        /BROWSERSVCSTARTUPTYPE=Disabled 
        /IACCEPTSQLSERVERLICENSETERMS 
        /ENU 
        /UPDATEENABLED=0  
      args:
          chdir: "{{ iso_drive }}:\\"
      become: yes
      become_method: runas
      vars:
        ansible_become_user: "{{ ansible_user }}"
        ansible_become_password: "{{ ansible_password }}"
      when: "'SQL_NOT_INSTALLED' in sql_check.stdout"	      

    - debug:
        var: install_result.stdout_lines

    - name: Wait for SQL Server install to complete
      ansible.windows.win_wait_for:
        path: "{{ sql_target_direction }}"
        timeout: 900  # seconds (5 min)

    - name: Unmount SQL Server ISO
      ansible.windows.win_shell: |
        Dismount-DiskImage -ImagePath "{{ sql_iso_path }}/{{sql_iso_name}}"

    - name: Disable SQL Server Browser service
      win_service:
        name: SQLBrowser
        start_mode: disabled

    - name: Set other SQL services to start automatically
      win_service:
        name: "{{ item }}"
        start_mode: auto
      loop:
        - MSSQLSERVER
        - SQLSERVERAGENT
        - MsDtsServer160  # SSIS
        - MSSQLServerOLAPService  # SSAS

