{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft": "None",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Port": "9800",
  "Consul": {
    "ConsulUrl": "http://consul.service.{{datacenter}}.valerian:8500/",
    "ConsulSection": "env/local/xhuma"
  },
  "JWT": {
    "Secret": "CIbzLL75654AxSOvTVS8BV6K0EhEaa4Dbl8GdKUUoxWxUB50mgA2lrXrbpe5SMA"
  }
}