- name: Install features from XML with reboot detection
      ansible.windows.win_shell: |
        $features = Import-Clixml -Path "{{ iis_features_xml }}"
        $restartNeeded = $false

        foreach ($feature in $features) {
            Write-Host "Processing feature: $($feature.Name)"
            $result = Add-WindowsFeature $feature.Name
            Write-Host "RestartNeeded value: $($result.RestartNeeded)"
            if ($result.RestartNeeded.ToString().ToLower() -eq 'yes') { 
                $restartNeeded = $true
            }
            Write-Host "restartNeeded value: $($restartNeeded)"
        }
        
        if ($restartNeeded) {
           Write-Host "REBOOT_REQUIRED"
        }
        else {
               Write-Host "INSTALL_DONE"
            }
      register: feature_install

    - name: Debug feature_install stdout lines
      debug:
        var: feature_install.stdout_lines

    - name: Reboot if needed
      ansible.windows.win_reboot:
      when: "'REBOOT_REQUIRED' in feature_install.stdout"