- name: IIS Update Notification web.config file
  hosts: iis 
  gather_facts: no
  collections:
    - ansible.windows
 
  vars_files:
     - "{{customer_data_dir}}common/domain-common-vars.yaml"
     - "{{ipack}}/iis/playbooks/vars/iis-install.yaml"
     - "{{ipack}}/iis/playbooks/vars/iis-common-vars.yaml"



  tasks:
             
     - name: set First add scope
       include_tasks: "shared_tasks/replace_text.yaml"
       vars:
         file_path: "{{notification_web_config_file}}"
         regexp:  '(<scopes>[\s\S]*?<add\s+scope=")[^"]*(")' 
         replace: '$1http://{{hostname}}.{{domain_name}}/$2' 

     - name: set Second add scope
       include_tasks: "shared_tasks/replace_text.yaml"
       vars:
         file_path: "{{notification_web_config_file}}"
         regexp:  '(<add\s+scope=")[^"]*(")(?=[^<]*</scopes>)' 
         replace: '$1http://{{hostname}}/$2'
         

       