- name: Install IIS features from XML and reboot if needed
  hosts: iis
  gather_facts: no
  collections:
    - ansible.windows

  vars_files:
    - "{{ipack}}/iis/playbooks/vars/iis-common-vars.yaml"

  tasks:
 
    - name: Install features from XML with reboot detection
      ansible.windows.win_shell: |
        Import-Module ServerManager      
        $features = Import-Clixml -Path "{{ iis_features_xml }}"
        $restartNeeded = $false
    
        # Import XML and extract just the Name property
        $featuresObjects = Import-Clixml -Path "C:\mer\WindowsInstallation\features.xml"
        $features = $featuresObjects | ForEach-Object { $_.Name }
    
        foreach ($feature in $features) {
        Write-Host "Install feature: $($feature)"
        }
        
        $result = Install-WindowsFeature -Name $features -IncludeManagementTools
        Write-Host "Success: $($result.Success)"
        Write-Host "ExitCode: $($result.ExitCode)"
        Write-Host "RestartNeeded: $($result.RestartNeeded)"   

        $restartNeeded = $($result.RestartNeeded);
        Write-Host "RestartNeeded: $restartNeeded"
        
        if ($restartNeeded="No") {
          Write-Host "INSTALL_DONE" 
        }else {
          Write-Host "REBOOT_REQUIRED"
        }
      register: feature_install

    - name: Debug feature_install stdout lines
      debug:
        var: feature_install.stdout_lines

    - name: Reboot if needed
      ansible.windows.win_reboot:
      when: "'REBOOT_REQUIRED' in feature_install.stdout"
