- name: Configure IIS with self-signed SSL certificate
  hosts: iis 
  gather_facts: no
  collections:
    - ansible.windows
 
  vars_files:
     - "{{customer_data_dir}}common/domain-common-vars.yaml"
     - "{{ipack}}/iis/playbooks/vars/iis-common-vars.yaml"


  tasks:
    - name: Check if certificate exists
      ansible.windows.win_powershell:
        script: |
          $cert = Get-ChildItem Cert:\LocalMachine\My |
            Where-Object { $_.DnsNameList -match "mersandbox.com" }
          if ($cert) {
            Write-Output "EXISTS"
          }
      register: cert_check

    - name: Create self-signed certificate for IIS
      ansible.windows.win_powershell: 
        script: |
          New-SelfSignedCertificate `
            -DnsName "{{hostname}}.{{domain_name}}" `
            -CertStoreLocation "Cert:\LocalMachine\My" `
            -FriendlyName "{{hostname}}.{{domain_name}}"
      when: "'EXISTS' not in cert_check.output"

    - name: Get thumbprint of the new certificate
      win_shell: |
        (Get-ChildItem -Path Cert:\LocalMachine\My |
          Where-Object { $_.FriendlyName -eq "{{hostname}}.{{domain_name}}" } |
          Sort-Object NotAfter -Descending |
          Select-Object -First 1 -ExpandProperty Thumbprint)
      args:
        executable: powershell
      register: cert_thumb

    - name: Bind HTTPS (443) with the self-signed certificate
      win_iis_webbinding:
        name: "Default Web Site"
        protocol: https
        port: 443
        certificate_hash: "{{ cert_thumb.stdout | trim }}"
        certificate_store_name: My

 #   - name: Disable TLS 1.3 over TCP (Client)
 #     ansible.windows.win_regedit:
 #       path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.3\Client
 #       name: Enabled
 #       data: 0
 #       type: dword
 #       state: present

#    - name: Disable TLS 1.3 over TCP (Client DisabledByDefault)
#      ansible.windows.win_regedit:
#        path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.3\Client
#        name: DisabledByDefault
#        data: 1
#        type: dword
#        state: present#

#    - name: Disable TLS 1.3 over TCP (Server)
#      ansible.windows.win_regedit:
#        path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.3\Server
#       name: Enabled
#        data: 0
#        type: dword
#        state: present

#    - name: Disable TLS 1.3 over TCP (Server DisabledByDefault)
#      ansible.windows.win_regedit:
#        path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.3\Server
#        name: DisabledByDefault
#        data: 1
#        type: dword
#        state: present


