- name: Create app pools
  hosts: iis 
  gather_facts: no
  collections:
    - ansible.windows
 
  vars_files:
     - "{{customer_data_dir}}common/domain-common-vars.yaml"
     - "{{ipack}}/iis/playbooks/vars/iis-install.yaml"


  tasks:


    - name: Set IIS App Pool identity to custom user
      ansible.windows.win_shell: |
        $appPoolName = '{{ smng_data_pool }}'
        $username = '{{ DevServiceUser  }}'
        $password = '{{ DevServiceUser_password }}'

        Import-Module WebAdministration

        # Set app pool identity to CustomAccount
        Set-ItemProperty "IIS:\AppPools\$appPoolName" -Name processModel.identityType -Value 3

        # Set custom username and password
        Set-ItemProperty "IIS:\AppPools\$appPoolName" -Name processModel.userName -Value $username
        Set-ItemProperty "IIS:\AppPools\$appPoolName" -Name processModel.password -Value $password
 
        Write-Output "Application Pool '$appPoolName' identity set to custom account $username"
      no_log: false   # hides password from output